:root {
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);

    --Toggle1: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --Toggle2: hsl(230, 22%, 74%);

    --body-BG: hsl(0, 0%, 100%);
    --header-top: hsl(225, 100%, 98%);
    --box-bg: hsl(227, 47%, 96%);
    --text1: hsl(228, 12%, 44%);
    --text2: hsl(230, 17%, 14%);
    --hover: hsl(0, 0%, 91%);
}

.darkmode:root {
    --body-BG: hsl(230, 17%, 14%);
    --header-top: hsl(232, 19%, 15%);
    --box-bg: hsl(228, 28%, 20%);
    --text1: hsl(228, 34%, 66%);
    --text2: hsl(0, 0%, 100%);
    --hover: hsl(228, 25%, 31%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--body-BG);
}

header {
    background: var(--header-top);
    height: 200px;
    font-family: 'Inter', sans-serif;
}

section {
    position: relative;
    background: var(--body-BG);
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-darkmode {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--text1);
}

.dashboard h3 {
    font-weight: 700;
    font-size: 25px;
    color: var(--text2);
}

.dashboard span {
    font-weight: 700;
    font-size: 16px;
    color: var(--text1);
}

.checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch {
    position: relative;
    display: flex;
    
    cursor: pointer;

    width: 80px;
    height: 40px;
    border-radius: 200px;

    background: var(--Toggle2);

    transition: background-color 0.3s;
}

.circle {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;

    width: 30px;
    height: 30px;
    border-radius: 100px;
    
    background: white;
    transition: 0.3s;
}

.checkbox:checked + .switch .circle {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.checkbox:checked + .switch {
    background: var(--Toggle1);
}

.over1 {
    position: relative;
    top: -80px;
}

.over2 h3 {
    font-weight: 700;
    font-size: 25px;
    color: var(--text2);
}

.social-follow {
    display: flex;
    flex-direction: column;
    background: var(--box-bg);
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.95);
    transform-style: preserve-3d;
    font-family: 'Inter', sans-serif;
}

.social-follow::after {
    content: '';
	position: relative;
	top: -170px;
	left: 0;
	height: 8px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.facebook::after {
    background-color: var(--Facebook);
}
.twitter::after {
    background-color: var(--Twitter);
}
.instagram::after {
    background-image: var(--Instagram);
}
.youtube::after {
    background-color: var(--YouTube);
}

.social-follow:hover {
    background: var(--hover);
    transition: transform .2s;
    transform: scale(1);
}

.nickname {
    font-weight: 700;
    font-size: 14px;
    color: var(--Toggle2);
}

.number-follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.number-follow h1 {
    font-weight: 700;
    color: var(--text2);
}

.number-follow span {
    font-weight: 400px;
    color: var(--Toggle2);
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.number-follow p {
    color: var(--Lime-Green);
    font-weight: 700;
}

.youtube .number-follow p {
    color: var(--Bright-Red);
}

.number-overwiew {
    background: var(--box-bg);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.95);
    transform-style: preserve-3d;
    font-family: 'Inter', sans-serif;
   
}

.number-overwiew:hover {
    background: var(--hover);
    transform: scale(1);
    transition: transform .2s;
}

.details {
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    color: var(--Toggle2);

}

.details-number {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 10px;
}

.details-number span {
    font-weight: 700;
    color: var(--text2);
    font-size: 30px;
}

.porcents {
    color: var(--Lime-Green);
    font-weight: 700;
    font-size: 14px;
}

.facebookdown .porcents {
    color: var(--Bright-Red);
    font-size: 14px;
}

.youtubedown .porcents {
    color: var(--Bright-Red);
    font-size: 14px;
}